@import "./../../../assets/scss/airbnb-variables";

.footer {
  background-color: $footerBgColor;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

fa-icon {
  margin-left: 10px;
  font-size: 3px;
  margin-right: 10px;
}